<div class="col-md-6">
  <div class="card">
      <div class="card-header card-header-danger">
          <h4 class="card-title">フルヘッダー色</h4>
          <p class="category">カテゴリの副題</p>
      </div>
      <div class="card-body">
    場所は、バルセロネータビーチとバス停から徒歩でわずか2分、バルセロナのメインナイトライフを楽しめる「ナヴィーリオ」の近くです。
      </div>
  </div>
</div>